.weather-container {
    background-color: blue;
    width: 40%;
    height: 100%;
    float: right;
}
.weather-attrib {
    background-color: orange;
    margin: 5px;
}
.weather-attrib#conditions, .weather-attrib#description {
    height: 80%;
    width: 40%;
    display: block;
}
.weather-icon img{
    filter: invert(100%);
}