.weather-container {
    width: 100%;
    height: 100%;
}
.weather-attrib {
    background-color: orange;
}

.weather-attrib#temperature {
    width: 100%;
    padding-top: 5%;
    
    text-align: center;
    font-size: 10vw;
}
.weather-attrib#details {
    text-align: center;
    font-size: 2vw;
}

@keyframes icon-motion {
    0% {left: 15%;}
    50% {left: 35%;}
    100% {left: 15%;}
}
.weather-icon img{
    position: relative;
    
    width: 50%;
    height: 50%;
    
    filter: invert(100%);
    animation-name: icon-motion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@media screen and (max-width: 800px) {
    .weather-attrib#temperature {
        font-size: 20vw;
    }
    .weather-attrib#details {
        font-size: 5vw;
    }
}
@media screen and (min-width: 1600px) {
    .weather-attrib#temperature {
        font-size: 10em;
    }
}