.weather-container {
    width: 100%;
    height: 100%;
    border-left: solid var(--weather-panel-width-border-width) var(--weather-panel-width-border-color);
    border-bottom: solid var(--weather-panel-width-border-width) var(--weather-panel-width-border-color);
}
.weather-attrib {
    background-color: rgb(202, 120, 26);
}
.weather-tiles-container {
    width: 100%;
}

.weather-attrib#temperature {
    width: 100%;
    padding-top: 5%;
    
    text-align: center;
    font-size: 10vw;
}
.weather-attrib#details {
    text-align: center;
    font-size: 2vw;
}

@keyframes icon-motion {
    0% {left: 15%;}
    50% {left: 35%;}
    100% {left: 15%;}
}
.weather-attrib#icon img {
    position: relative;
    
    filter: invert(100%);
    animation-name: icon-motion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@media screen and (max-width: 1400px) {
    .weather-attrib#temperature {
        font-size: 20vw;
    }
    .weather-attrib#details {
        font-size: 5vw;
    }
    .weather-container {
        border-top: solid var(--weather-panel-width-border-width) var(--weather-panel-width-border-color);
        border-left: none;
        border-bottom: solid var(--weather-panel-width-border-width) var(--weather-panel-width-border-color);
    }
}
@media screen and (min-width: 1600px) {
    .weather-attrib#temperature {
        font-size: 10em;
    }
}