:root {
    --background-color: #1f1f1f;
    --content-height: 80%;
}

html, body, div#root{
    margin: 0;
    background-color: var(--background-color);
    height: 100% !important;
    width: 100% !important;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    position: relative;
    height: var(--content-height);
    display: block;
}

div#large-font {
    font-size: 9em;
}