:root {
    --time-panel-width: 60%;
}

.time-container {
    background-color: yellow;

    width: var(--time-panel-width);
    height: 100%;
    float: left;

    text-align: center;
}
.display-container {
    width: var(--time-panel-width);
    position: absolute;
    top: calc(var(--content-height) / 2);
}
.time-display {
    background-color: red;
    font-size: 6em;
}
.date-display {
    background-color: green;
    font-size: 1.5em;
}