.time-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
.display-container {
    width: 100%;
    color: white;
    margin-top: 10vw;
}
.time-display {
    background-color: var(--light-background-color);
    font-size: 15vw;
}
.date-display {
    background-color: var(--highlight-background-color);
    font-size: 5vw;
}
@media screen and (max-width: 800px) {
    .display-container {
        margin-top: 0;
    }
    .time-display {
        font-size: 20vw;
    }
}
@media screen and (min-width: 1800px) {
    .time-display {
        font-size: 16em;
    }
    .date-display {
        font-size: 4em;
    }
}