:root {
    --time-panel-width: 40%;
}

.time-container {
    width: var(--time-panel-width);
    height: 100%;
    float: left;

    text-align: center;
}
.display-container {
    width: var(--time-panel-width);
    position: absolute;
    top: calc(var(--content-height) / 2);
    color: white;
}
.time-display {
    background-color: #333333;
    font-size: 6em;
}
.date-display {
    background-color: #3f3f3f;
    font-size: 1.5em;
}